body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #222;
    color: #fff;
}

#navbar1{
    overflow: hidden;
    background-color: rgb(95, 95, 95);
    margin: 0;
    padding: 0;
    align-items: center;
    .username-link{
        float: right;
        font-size: 14px;
        font-family: Georgia, 'Times New Roman', Times, serif;
        color: white;
        text-decoration: none;
        flex-grow: 1;
        padding: 5px 20px;
        transition: 0.3s;
        &:hover {
            background-color: rgb(103, 202, 169);
        }
    }
    a{
        float: left;
        font-size: 14px;
        font-family: Georgia, 'Times New Roman', Times, serif;
        color: white;
        text-decoration: none;
        flex-grow: 1;
        padding: 5px 20px;
        transition: 0.3s;
        &:hover {
            background-color: rgb(103, 202, 169);
        }
    }
}

#navbar2{
    overflow: hidden;
    background-color: white;
    margin: 0;
    border-style:groove;
    border-width: 5px;
    border-color: gold;
    padding: 10px;
    align-items: center;
    height: 110px;
    z-index: 10;
    .logo{
        position: relative;
        float: left;
        top:-5px;
        margin: 0px 50px;
        &:hover{
            cursor: pointer;
        }
    }
    .left_icon{
        float: left;
        font-size: 33px;
        font-family: Stencil Std, fantasy;
        /*font-weight:bold;*/
        color: black;
        text-decoration: none;
        flex-grow: 1;
        align-content: center;
        padding: 0 25px;
        transition: 0.3s;
        height:110px;
        &:hover {
            background-color: rgb(103, 202, 169);
        }
    }
    .small_img{
        position: relative;
        float: right;
        top:-15px;
        align-content: center;
        padding: 10px 10px;
        margin: 40px 25px;
        &:hover {
            background-color: rgb(103, 202, 169);
            cursor: pointer;
        }
    }
}

main {
    padding: 20px;
}

.account-info {
    background-color: #4a4a4a;
    color: #ffffff;
    padding: 20px;
    margin-bottom: 20px;
    text-align: center;
}

.account-info h1 {
    color: #75bbeb;
    margin-bottom: 10px;
}

.profile-pic img {
    border-radius: 50%;
    height: 100px;
    width: 100px;
}

.account-details {
    margin-top: 20px;
}

.account-details h2 {
    color: #ffcc00;
    margin-bottom: 10px;
}

.account-details p {
    font-size: 18px;
    margin: 5px 0;
}
.logout-account{
    margin: 10px;
    background-color: #ff0000;
    color: #ffffff;
    border: none;
    padding: 10px 20px;
    font-size: 18px;
    cursor: pointer;
}


.order-history {
    background-color: #4a4a4a;
    color: #ffffff;
    padding: 20px;
}

.order-history h2 {
    color: #75bbeb;
    margin-bottom: 20px;
    text-align: center;
}

.order-history table {
    width: 100%;
    text-align: center;
}